openapi: 3.0.3
info:
  version: 3.0.0
  title: Infraspeak Public REST API
  description: Infraspeak public REST API documentation.
  contact:
    name: Infraspeak
    url: 'https://infraspeak.com'
servers:
  - url: 'https://stoplight.io/mocks/fyayc-training/zalandotest/367393709'
    description: Stoplight Mock Server
  - url: 'https://stoplight.io/mocks/infraspeak/api/13721087'
    description: Infraspeak Mock Server
  - url: 'https://api.infraspeak.com/v3'
    description: Infraspeak Production
paths:
  /sales/buy-orders:
    post:
      tags:
        - Buy Orders
      summary: Create a Buy Order
      description: This endpoint allows you to create a Buy Order.
      operationId: createBuyOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Buy Order payload
              properties:
                supplier_id:
                  type: integer
                  nullable: true
                  description: ID of the supplier associated with the Buy Order.
                warehouse_id:
                  type: integer
                  description: ID of the Warehouse associated to the Buy Order. Required for type 'MATERIAL'.
                description:
                  type: string
                  nullable: true
                  description: Observations/notes of the Buy Order.
                internal_sale_id:
                  type: string
                  nullable: true
                  description: Internal ID of the Buy Order.
                external_sale_id:
                  type: string
                  nullable: true
                  description: External ID of the Buy Order.
                related_to_type:
                  type: string
                  nullable: true
                  enum:
                    - FAILURE
                    - SCHEDULED_WORK
                    - null
                  description: Type of object related to the Buy Order. Required with field related_to_id.
                related_to_id:
                  type: integer
                  nullable: true
                  description: ID of the object (failure or scheduled work) related to the Buy Order. Required with field related_to_type.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    title: Buy Order
                    description: Buy Order model structure details
                    properties:
                      type:
                        type: string
                        enum:
                          - buy_order
                        description: Model type
                        readOnly: true
                      id:
                        type: string
                        description: ID of the Buy Order.
                        readOnly: true
                      attributes:
                        type: object
                        properties:
                          buy_order_id:
                            type: string
                            description: ID of the Buy Order.
                            readOnly: true
                          type:
                            type: string
                            enum:
                              - MATERIAL
                              - SERVICE
                            description: Type of Buy Order.
                            readOnly: true
                          code:
                            type: integer
                            description: Code of the Buy Order.
                            readOnly: true
                          supplier_id:
                            type: integer
                            description: 'ID of the Supplier associated to the Buy Order. Required for state ''CREATED'', ''RECEIVED_PARTILLY'' and "RECEIVED".'
                          warehouse_id:
                            type: integer
                            nullable: true
                            description: ID of the Warehouse associated to the Buy Order. Required for type 'MATERIAL'.
                          state:
                            type: string
                            enum:
                              - SAVED_AS_DRAFT
                              - CREATED
                              - RECEIVED_PARTIALLY
                              - RECEIVED
                              - CONFIRMED
                            description: State of the Buy Order.
                            default: SAVED_AS_DRAFT
                            example: SAVED_AS_DRAFT
                          entity_id:
                            type: integer
                            readOnly: true
                          observation:
                            type: string
                            nullable: true
                            description: Observations or notes of the Buy Order.
                          internal_buy_id:
                            type: string
                            nullable: true
                            description: Internal ID of the Buy Order.
                          external_buy_id:
                            type: string
                            nullable: true
                            description: External ID of the Buy Order.
                          related_to_type:
                            type: string
                            nullable: true
                            enum:
                              - FAILURE
                              - SCHEDULED_WORK
                              - null
                            description: Type of object related to the Buy Order (required with field related_to_id).
                          related_to_id:
                            type: integer
                            nullable: true
                            description: ID of the object (failure or scheduled work) related to the Buy Order (required with field related_to_type).
                          total_price:
                            type: number
                            description: The total price of the Sell Order (including VAT and discount)
                            readOnly: true
                          vat_total:
                            type: string
                            description: The total VAT of the Buy Order.
                            readOnly: true
                          discount_total:
                            type: string
                            description: The total discount of the Buy Order.
                            readOnly: true
                          base_total:
                            type: string
                            description: The total base price of the Buy Order (including discount).
                            readOnly: true
                          delivery_address:
                            type: string
                            nullable: true
                            description: Delivery Address of the Buy Order.
                          created_by:
                            type: integer
                            description: ID of the user who created the Buy Order
                            readOnly: true
                          completed_at:
                            type: string
                            nullable: true
                            description: Date Buy Order is Received (state transition to 'RECEIVED').
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
                          completed_by:
                            type: integer
                            nullable: true
                            description: ID of the user who Received the Buy Order (state transition to 'RECEIVED').
                            readOnly: true
                          processed_at:
                            type: string
                            nullable: true
                            description: Date Buy Order is started (state transition to 'CREATED').
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
                          processed_by:
                            type: integer
                            nullable: true
                            description: ID of the user who started the Buy Order (state transition to 'CREATED').
                            readOnly: true
                          date_created:
                            type: string
                            description: Date Buy Order is Created.
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
                          date_updated:
                            type: string
                            description: Date Buy Order was last updated.
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
              examples:
                Example:
                  value:
                    data:
                      type: buy_order
                      id: '15'
                      attributes:
                        order_id: 2353
                        type: SERVICE
                        code: 223
                        supplier_id: 879
                        warehouse_id: null
                        state: CONFIRMED
                        entity_id: 12
                        observation: Service Buy order Observations
                        internal_buy_id: '192837465'
                        external_buy_id: FA 4455
                        related_to_type: FAILURE
                        related_to_id: 682007
                        total_price: 30.36
                        vat_total: '4.37'
                        discount_total: '0'
                        base_total: '25.98'
                        delivery_address: Address
                        created_by: 4582
                        completed_at: '2022-11-16 12:05:55'
                        completed_by: 4582
                        processed_at: null
                        processed_by: null
                        date_created: '2022-11-15 18:22:18'
                        date_updated: '2022-11-16 12:08:28'
        '400':
          description: 'Bad Request. Occurs when invalid parameters are provided or on data validation errors. For example, trying to create a resource without providing required fields. In this case, you can check the `properties` attribute on the response for more details.'
          content:
            application/json:
              schema:
                type: object
                title: 400 Bad Request
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 400
                      message:
                        type: string
                        example: Property validation error.
                      more_info:
                        type: string
                      properties:
                        type: object
                        description: Only present when related to property validation error
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: 'Bad request error. This error can happen if a wrong id or parameter is supplied in the request, resulting in an error or an empty result.'
                Example with properties:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: Property validation error.
                      dev_message: Property validation error. Check the "properties" section in the response.
                      properties:
                        full_name:
                          - The full_name field is required.
                        email:
                          - The email field is required.
        '401':
          description: 'Unauthorized. Authentication or permission error. E.g.: missing, incorrect or invalid Access Token.'
          content:
            application/json:
              schema:
                type: object
                title: 401 Unauthorized
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 401
                      message:
                        type: string
                        example: Authentication token invalid.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 401
                      message: Authentication token invalid.
        '429':
          description: Too Many Requests. The client has sent too many requests in a given amount of time (check Throttling section).
          content:
            application/json:
              schema:
                type: object
                title: 429 Too Many Requests
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 429
                      message:
                        type: string
                        example: Too Many Requests.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 429
                      message: Too Many Requests.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Indicates how long the user agent should wait (in seconds) before making further requests.
              required: true
            X-RateLimit-Reset:
              schema:
                type: integer
              description: 'Indicates when the rate limit will be reset, in UNIX timestamp format.'
              required: true
        '500':
          description: 'Internal Server Error. Please, report us and try to provide as much information as possible, such as the endpoint, HTTP request headers and request body if applicable.'
          content:
            application/json:
              schema:
                type: object
                title: 500 Internal Server Error
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 500
                      message:
                        type: string
                        example: An error has occurred during the request.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 500
                      message: An error has occurred during the request.
      security:
        - BearerAuth: []
      servers:
        - url: 'https://stoplight.io/mocks/fyayc-training/zalandotest/367393709'
          description: Stoplight Mock Server
        - url: 'https://stoplight.io/mocks/infraspeak/api/13721087'
          description: Infraspeak Mock Server
        - url: 'https://api.infraspeak.com/v3'
          description: Infraspeak Production
    get:
      tags:
        - Buy Orders
      summary: List all Buy Orders
      description: This endpoint allows you to list all Buy Orders.
      operationId: getBuyOrders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Buy Order
                      description: Buy Order model structure details
                      properties:
                        type:
                          type: string
                          enum:
                            - buy_order
                          description: Model type
                          readOnly: true
                        id:
                          type: string
                          description: ID of the Buy Order.
                          readOnly: true
                        attributes:
                          type: object
                          properties:
                            buy_order_id:
                              type: string
                              description: ID of the Buy Order.
                              readOnly: true
                            type:
                              type: string
                              enum:
                                - MATERIAL
                                - SERVICE
                              description: Type of Buy Order.
                              readOnly: true
                            code:
                              type: integer
                              description: Code of the Buy Order.
                              readOnly: true
                            supplier_id:
                              type: integer
                              description: 'ID of the Supplier associated to the Buy Order. Required for state ''CREATED'', ''RECEIVED_PARTILLY'' and "RECEIVED".'
                            warehouse_id:
                              type: integer
                              nullable: true
                              description: ID of the Warehouse associated to the Buy Order. Required for type 'MATERIAL'.
                            state:
                              type: string
                              enum:
                                - SAVED_AS_DRAFT
                                - CREATED
                                - RECEIVED_PARTIALLY
                                - RECEIVED
                                - CONFIRMED
                              description: State of the Buy Order.
                              default: SAVED_AS_DRAFT
                              example: SAVED_AS_DRAFT
                            entity_id:
                              type: integer
                              readOnly: true
                            observation:
                              type: string
                              nullable: true
                              description: Observations or notes of the Buy Order.
                            internal_buy_id:
                              type: string
                              nullable: true
                              description: Internal ID of the Buy Order.
                            external_buy_id:
                              type: string
                              nullable: true
                              description: External ID of the Buy Order.
                            related_to_type:
                              type: string
                              nullable: true
                              enum:
                                - FAILURE
                                - SCHEDULED_WORK
                                - null
                              description: Type of object related to the Buy Order (required with field related_to_id).
                            related_to_id:
                              type: integer
                              nullable: true
                              description: ID of the object (failure or scheduled work) related to the Buy Order (required with field related_to_type).
                            total_price:
                              type: number
                              description: The total price of the Sell Order (including VAT and discount)
                              readOnly: true
                            vat_total:
                              type: string
                              description: The total VAT of the Buy Order.
                              readOnly: true
                            discount_total:
                              type: string
                              description: The total discount of the Buy Order.
                              readOnly: true
                            base_total:
                              type: string
                              description: The total base price of the Buy Order (including discount).
                              readOnly: true
                            delivery_address:
                              type: string
                              nullable: true
                              description: Delivery Address of the Buy Order.
                            created_by:
                              type: integer
                              description: ID of the user who created the Buy Order
                              readOnly: true
                            completed_at:
                              type: string
                              nullable: true
                              description: Date Buy Order is Received (state transition to 'RECEIVED').
                              format: date-time
                              readOnly: true
                              example: '2021-07-21 18:38:00'
                            completed_by:
                              type: integer
                              nullable: true
                              description: ID of the user who Received the Buy Order (state transition to 'RECEIVED').
                              readOnly: true
                            processed_at:
                              type: string
                              nullable: true
                              description: Date Buy Order is started (state transition to 'CREATED').
                              format: date-time
                              readOnly: true
                              example: '2021-07-21 18:38:00'
                            processed_by:
                              type: integer
                              nullable: true
                              description: ID of the user who started the Buy Order (state transition to 'CREATED').
                              readOnly: true
                            date_created:
                              type: string
                              description: Date Buy Order is Created.
                              format: date-time
                              readOnly: true
                              example: '2021-07-21 18:38:00'
                            date_updated:
                              type: string
                              description: Date Buy Order was last updated.
                              format: date-time
                              readOnly: true
                              example: '2021-07-21 18:38:00'
                  included:
                    type: array
                    description: List of relationships to be included
                    uniqueItems: true
                  meta:
                    type: object
                    title: Meta
                    description: Meta model structure details
                    properties:
                      pagination:
                        type: object
                        properties:
                          count:
                            type: integer
                            description: Total items returned for the current page.
                            minimum: 0
                          per_page:
                            type: integer
                            description: Maximum number of records per page.
                            minimum: 1
                            default: 200
                          current_page:
                            type: integer
                            description: Number of the current page.
                            minimum: 1
                            default: 1
                        required:
                          - count
                          - per_page
                          - current_page
                  links:
                    type: object
                    title: Response Links on listing operations
                    description: 'Requests that return multiple items include a `links` attribute, with links related to request''s context.'
                    properties:
                      self:
                        type: string
                        description: Current response link.
                        format: uri
                        readOnly: true
                      first:
                        type: string
                        description: Link to the first page result.
                        format: uri
                        readOnly: true
                      prev:
                        type: string
                        description: Link to the previous page result.
                        format: uri
                        readOnly: true
                      next:
                        type: string
                        description: Link to the next page result.
                        format: uri
                        readOnly: true
                    required:
                      - self
                      - first
                      - next
              examples:
                Example:
                  value:
                    data:
                      - type: buy_order
                        id: '15'
                        attributes:
                          order_id: 2353
                          type: SERVICE
                          code: 223
                          supplier_id: 879
                          warehouse_id: null
                          state: CONFIRMED
                          entity_id: 12
                          observation: Service Buy order Observations
                          internal_buy_id: '192837465'
                          external_buy_id: FA 4455
                          related_to_type: FAILURE
                          related_to_id: 682007
                          total_price: 30.36
                          vat_total: '4.37'
                          discount_total: '0'
                          base_total: '25.98'
                          delivery_address: Address
                          created_by: 4582
                          completed_at: '2022-11-16 12:05:55'
                          completed_by: 4582
                          processed_at: null
                          processed_by: null
                          date_created: '2022-11-15 18:22:18'
                          date_updated: '2022-11-16 12:08:28'
        '400':
          description: 'Bad Request. Occurs when invalid parameters are provided or on data validation errors. For example, trying to create a resource without providing required fields. In this case, you can check the `properties` attribute on the response for more details.'
          content:
            application/json:
              schema:
                type: object
                title: 400 Bad Request
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 400
                      message:
                        type: string
                        example: Property validation error.
                      more_info:
                        type: string
                      properties:
                        type: object
                        description: Only present when related to property validation error
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: 'Bad request error. This error can happen if a wrong id or parameter is supplied in the request, resulting in an error or an empty result.'
                Example with properties:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: Property validation error.
                      dev_message: Property validation error. Check the "properties" section in the response.
                      properties:
                        full_name:
                          - The full_name field is required.
                        email:
                          - The email field is required.
        '401':
          description: 'Unauthorized. Authentication or permission error. E.g.: missing, incorrect or invalid Access Token.'
          content:
            application/json:
              schema:
                type: object
                title: 401 Unauthorized
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 401
                      message:
                        type: string
                        example: Authentication token invalid.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 401
                      message: Authentication token invalid.
        '404':
          description: Resource Not Found. Requests to resources that don't exist or are malformed.
          content:
            application/json:
              schema:
                type: object
                title: 404 Not Found
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 404
                      message:
                        type: string
                        example: Resource not found
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 404
                      message: Resource not found
        '429':
          description: Too Many Requests. The client has sent too many requests in a given amount of time (check Throttling section).
          content:
            application/json:
              schema:
                type: object
                title: 429 Too Many Requests
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 429
                      message:
                        type: string
                        example: Too Many Requests.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 429
                      message: Too Many Requests.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Indicates how long the user agent should wait (in seconds) before making further requests.
              required: true
            X-RateLimit-Reset:
              schema:
                type: integer
              description: 'Indicates when the rate limit will be reset, in UNIX timestamp format.'
              required: true
        '500':
          description: 'Internal Server Error. Please, report us and try to provide as much information as possible, such as the endpoint, HTTP request headers and request body if applicable.'
          content:
            application/json:
              schema:
                type: object
                title: 500 Internal Server Error
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 500
                      message:
                        type: string
                        example: An error has occurred during the request.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 500
                      message: An error has occurred during the request.
      security:
        - BearerAuth: []
      servers:
        - url: 'https://stoplight.io/mocks/fyayc-training/zalandotest/367393709'
          description: Stoplight Mock Server
        - url: 'https://stoplight.io/mocks/infraspeak/api/13721087'
          description: Infraspeak Mock Server
        - url: 'https://api.infraspeak.com/v3'
          description: Infraspeak Production
  '/sales/buy-orders/{buy-order-id}':
    get:
      tags:
        - Buy Orders
      summary: Get a Buy Order
      description: This endpoint allows you to get a specific Buy Order.
      operationId: getBuyOrder
      parameters:
        - name: buy-order-id
          in: path
          description: The Buy Order ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    title: Buy Order
                    description: Buy Order model structure details
                    properties:
                      type:
                        type: string
                        enum:
                          - buy_order
                        description: Model type
                        readOnly: true
                      id:
                        type: string
                        description: ID of the Buy Order.
                        readOnly: true
                      attributes:
                        type: object
                        properties:
                          buy_order_id:
                            type: string
                            description: ID of the Buy Order.
                            readOnly: true
                          type:
                            type: string
                            enum:
                              - MATERIAL
                              - SERVICE
                            description: Type of Buy Order.
                            readOnly: true
                          code:
                            type: integer
                            description: Code of the Buy Order.
                            readOnly: true
                          supplier_id:
                            type: integer
                            description: 'ID of the Supplier associated to the Buy Order. Required for state ''CREATED'', ''RECEIVED_PARTILLY'' and "RECEIVED".'
                          warehouse_id:
                            type: integer
                            nullable: true
                            description: ID of the Warehouse associated to the Buy Order. Required for type 'MATERIAL'.
                          state:
                            type: string
                            enum:
                              - SAVED_AS_DRAFT
                              - CREATED
                              - RECEIVED_PARTIALLY
                              - RECEIVED
                              - CONFIRMED
                            description: State of the Buy Order.
                            default: SAVED_AS_DRAFT
                            example: SAVED_AS_DRAFT
                          entity_id:
                            type: integer
                            readOnly: true
                          observation:
                            type: string
                            nullable: true
                            description: Observations or notes of the Buy Order.
                          internal_buy_id:
                            type: string
                            nullable: true
                            description: Internal ID of the Buy Order.
                          external_buy_id:
                            type: string
                            nullable: true
                            description: External ID of the Buy Order.
                          related_to_type:
                            type: string
                            nullable: true
                            enum:
                              - FAILURE
                              - SCHEDULED_WORK
                              - null
                            description: Type of object related to the Buy Order (required with field related_to_id).
                          related_to_id:
                            type: integer
                            nullable: true
                            description: ID of the object (failure or scheduled work) related to the Buy Order (required with field related_to_type).
                          total_price:
                            type: number
                            description: The total price of the Sell Order (including VAT and discount)
                            readOnly: true
                          vat_total:
                            type: string
                            description: The total VAT of the Buy Order.
                            readOnly: true
                          discount_total:
                            type: string
                            description: The total discount of the Buy Order.
                            readOnly: true
                          base_total:
                            type: string
                            description: The total base price of the Buy Order (including discount).
                            readOnly: true
                          delivery_address:
                            type: string
                            nullable: true
                            description: Delivery Address of the Buy Order.
                          created_by:
                            type: integer
                            description: ID of the user who created the Buy Order
                            readOnly: true
                          completed_at:
                            type: string
                            nullable: true
                            description: Date Buy Order is Received (state transition to 'RECEIVED').
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
                          completed_by:
                            type: integer
                            nullable: true
                            description: ID of the user who Received the Buy Order (state transition to 'RECEIVED').
                            readOnly: true
                          processed_at:
                            type: string
                            nullable: true
                            description: Date Buy Order is started (state transition to 'CREATED').
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
                          processed_by:
                            type: integer
                            nullable: true
                            description: ID of the user who started the Buy Order (state transition to 'CREATED').
                            readOnly: true
                          date_created:
                            type: string
                            description: Date Buy Order is Created.
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
                          date_updated:
                            type: string
                            description: Date Buy Order was last updated.
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
              examples:
                Example:
                  value:
                    data:
                      type: buy_order
                      id: '15'
                      attributes:
                        order_id: 2353
                        type: SERVICE
                        code: 223
                        supplier_id: 879
                        warehouse_id: null
                        state: CONFIRMED
                        entity_id: 12
                        observation: Service Buy order Observations
                        internal_buy_id: '192837465'
                        external_buy_id: FA 4455
                        related_to_type: FAILURE
                        related_to_id: 682007
                        total_price: 30.36
                        vat_total: '4.37'
                        discount_total: '0'
                        base_total: '25.98'
                        delivery_address: Address
                        created_by: 4582
                        completed_at: '2022-11-16 12:05:55'
                        completed_by: 4582
                        processed_at: null
                        processed_by: null
                        date_created: '2022-11-15 18:22:18'
                        date_updated: '2022-11-16 12:08:28'
        '400':
          description: 'Bad Request. Occurs when invalid parameters are provided or on data validation errors. For example, trying to create a resource without providing required fields. In this case, you can check the `properties` attribute on the response for more details.'
          content:
            application/json:
              schema:
                type: object
                title: 400 Bad Request
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 400
                      message:
                        type: string
                        example: Property validation error.
                      more_info:
                        type: string
                      properties:
                        type: object
                        description: Only present when related to property validation error
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: 'Bad request error. This error can happen if a wrong id or parameter is supplied in the request, resulting in an error or an empty result.'
                Example with properties:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: Property validation error.
                      dev_message: Property validation error. Check the "properties" section in the response.
                      properties:
                        full_name:
                          - The full_name field is required.
                        email:
                          - The email field is required.
        '401':
          description: 'Unauthorized. Authentication or permission error. E.g.: missing, incorrect or invalid Access Token.'
          content:
            application/json:
              schema:
                type: object
                title: 401 Unauthorized
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 401
                      message:
                        type: string
                        example: Authentication token invalid.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 401
                      message: Authentication token invalid.
        '404':
          description: Resource Not Found. Requests to resources that don't exist or are malformed.
          content:
            application/json:
              schema:
                type: object
                title: 404 Not Found
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 404
                      message:
                        type: string
                        example: Resource not found
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 404
                      message: Resource not found
        '429':
          description: Too Many Requests. The client has sent too many requests in a given amount of time (check Throttling section).
          content:
            application/json:
              schema:
                type: object
                title: 429 Too Many Requests
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 429
                      message:
                        type: string
                        example: Too Many Requests.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 429
                      message: Too Many Requests.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Indicates how long the user agent should wait (in seconds) before making further requests.
              required: true
            X-RateLimit-Reset:
              schema:
                type: integer
              description: 'Indicates when the rate limit will be reset, in UNIX timestamp format.'
              required: true
        '500':
          description: 'Internal Server Error. Please, report us and try to provide as much information as possible, such as the endpoint, HTTP request headers and request body if applicable.'
          content:
            application/json:
              schema:
                type: object
                title: 500 Internal Server Error
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 500
                      message:
                        type: string
                        example: An error has occurred during the request.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 500
                      message: An error has occurred during the request.
      security:
        - BearerAuth: []
      servers:
        - url: 'https://stoplight.io/mocks/fyayc-training/zalandotest/367393709'
          description: Stoplight Mock Server
        - url: 'https://stoplight.io/mocks/infraspeak/api/13721087'
          description: Infraspeak Mock Server
        - url: 'https://api.infraspeak.com/v3'
          description: Infraspeak Production
    patch:
      tags:
        - Buy Orders
      summary: Update a Buy Order
      description: This endpoint allows you to update a Buy Order.
      operationId: updateBuyOrder
      parameters:
        - name: buy-order-id
          in: path
          description: The Buy Order ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Buy Order update payload
              properties:
                supplier_id:
                  type: integer
                  nullable: true
                  description: ID of the supplier associated with the Buy Order.
                warehouse_id:
                  type: integer
                  description: ID of the Warehouse associated to the Buy Order. Required for type 'MATERIAL'.
                description:
                  type: string
                  nullable: true
                  description: Observations/notes of the Buy Order.
                internal_sale_id:
                  type: string
                  nullable: true
                  description: Internal ID of the Buy Order.
                external_sale_id:
                  type: string
                  nullable: true
                  description: External ID of the Buy Order.
                related_to_type:
                  type: string
                  nullable: true
                  enum:
                    - FAILURE
                    - SCHEDULED_WORK
                    - null
                  description: Type of object related to the Buy Order. Required with field related_to_id.
                related_to_id:
                  type: integer
                  nullable: true
                  description: ID of the object (failure or scheduled work) related to the Buy Order. Required with field related_to_type.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    title: Buy Order
                    description: Buy Order model structure details
                    properties:
                      type:
                        type: string
                        enum:
                          - buy_order
                        description: Model type
                        readOnly: true
                      id:
                        type: string
                        description: ID of the Buy Order.
                        readOnly: true
                      attributes:
                        type: object
                        properties:
                          buy_order_id:
                            type: string
                            description: ID of the Buy Order.
                            readOnly: true
                          type:
                            type: string
                            enum:
                              - MATERIAL
                              - SERVICE
                            description: Type of Buy Order.
                            readOnly: true
                          code:
                            type: integer
                            description: Code of the Buy Order.
                            readOnly: true
                          supplier_id:
                            type: integer
                            description: 'ID of the Supplier associated to the Buy Order. Required for state ''CREATED'', ''RECEIVED_PARTILLY'' and "RECEIVED".'
                          warehouse_id:
                            type: integer
                            nullable: true
                            description: ID of the Warehouse associated to the Buy Order. Required for type 'MATERIAL'.
                          state:
                            type: string
                            enum:
                              - SAVED_AS_DRAFT
                              - CREATED
                              - RECEIVED_PARTIALLY
                              - RECEIVED
                              - CONFIRMED
                            description: State of the Buy Order.
                            default: SAVED_AS_DRAFT
                            example: SAVED_AS_DRAFT
                          entity_id:
                            type: integer
                            readOnly: true
                          observation:
                            type: string
                            nullable: true
                            description: Observations or notes of the Buy Order.
                          internal_buy_id:
                            type: string
                            nullable: true
                            description: Internal ID of the Buy Order.
                          external_buy_id:
                            type: string
                            nullable: true
                            description: External ID of the Buy Order.
                          related_to_type:
                            type: string
                            nullable: true
                            enum:
                              - FAILURE
                              - SCHEDULED_WORK
                              - null
                            description: Type of object related to the Buy Order (required with field related_to_id).
                          related_to_id:
                            type: integer
                            nullable: true
                            description: ID of the object (failure or scheduled work) related to the Buy Order (required with field related_to_type).
                          total_price:
                            type: number
                            description: The total price of the Sell Order (including VAT and discount)
                            readOnly: true
                          vat_total:
                            type: string
                            description: The total VAT of the Buy Order.
                            readOnly: true
                          discount_total:
                            type: string
                            description: The total discount of the Buy Order.
                            readOnly: true
                          base_total:
                            type: string
                            description: The total base price of the Buy Order (including discount).
                            readOnly: true
                          delivery_address:
                            type: string
                            nullable: true
                            description: Delivery Address of the Buy Order.
                          created_by:
                            type: integer
                            description: ID of the user who created the Buy Order
                            readOnly: true
                          completed_at:
                            type: string
                            nullable: true
                            description: Date Buy Order is Received (state transition to 'RECEIVED').
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
                          completed_by:
                            type: integer
                            nullable: true
                            description: ID of the user who Received the Buy Order (state transition to 'RECEIVED').
                            readOnly: true
                          processed_at:
                            type: string
                            nullable: true
                            description: Date Buy Order is started (state transition to 'CREATED').
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
                          processed_by:
                            type: integer
                            nullable: true
                            description: ID of the user who started the Buy Order (state transition to 'CREATED').
                            readOnly: true
                          date_created:
                            type: string
                            description: Date Buy Order is Created.
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
                          date_updated:
                            type: string
                            description: Date Buy Order was last updated.
                            format: date-time
                            readOnly: true
                            example: '2021-07-21 18:38:00'
              examples:
                Example:
                  value:
                    data:
                      type: buy_order
                      id: '15'
                      attributes:
                        order_id: 2353
                        type: SERVICE
                        code: 223
                        supplier_id: 879
                        warehouse_id: null
                        state: CONFIRMED
                        entity_id: 12
                        observation: Service Buy order Observations
                        internal_buy_id: '192837465'
                        external_buy_id: FA 4455
                        related_to_type: FAILURE
                        related_to_id: 682007
                        total_price: 30.36
                        vat_total: '4.37'
                        discount_total: '0'
                        base_total: '25.98'
                        delivery_address: Address
                        created_by: 4582
                        completed_at: '2022-11-16 12:05:55'
                        completed_by: 4582
                        processed_at: null
                        processed_by: null
                        date_created: '2022-11-15 18:22:18'
                        date_updated: '2022-11-16 12:08:28'
        '400':
          description: 'Bad Request. Occurs when invalid parameters are provided or on data validation errors. For example, trying to create a resource without providing required fields. In this case, you can check the `properties` attribute on the response for more details.'
          content:
            application/json:
              schema:
                type: object
                title: 400 Bad Request
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 400
                      message:
                        type: string
                        example: Property validation error.
                      more_info:
                        type: string
                      properties:
                        type: object
                        description: Only present when related to property validation error
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: 'Bad request error. This error can happen if a wrong id or parameter is supplied in the request, resulting in an error or an empty result.'
                Example with properties:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: Property validation error.
                      dev_message: Property validation error. Check the "properties" section in the response.
                      properties:
                        full_name:
                          - The full_name field is required.
                        email:
                          - The email field is required.
        '401':
          description: 'Unauthorized. Authentication or permission error. E.g.: missing, incorrect or invalid Access Token.'
          content:
            application/json:
              schema:
                type: object
                title: 401 Unauthorized
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 401
                      message:
                        type: string
                        example: Authentication token invalid.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 401
                      message: Authentication token invalid.
        '429':
          description: Too Many Requests. The client has sent too many requests in a given amount of time (check Throttling section).
          content:
            application/json:
              schema:
                type: object
                title: 429 Too Many Requests
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 429
                      message:
                        type: string
                        example: Too Many Requests.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 429
                      message: Too Many Requests.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Indicates how long the user agent should wait (in seconds) before making further requests.
              required: true
            X-RateLimit-Reset:
              schema:
                type: integer
              description: 'Indicates when the rate limit will be reset, in UNIX timestamp format.'
              required: true
        '500':
          description: 'Internal Server Error. Please, report us and try to provide as much information as possible, such as the endpoint, HTTP request headers and request body if applicable.'
          content:
            application/json:
              schema:
                type: object
                title: 500 Internal Server Error
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 500
                      message:
                        type: string
                        example: An error has occurred during the request.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 500
                      message: An error has occurred during the request.
      security:
        - BearerAuth: []
      servers:
        - url: 'https://stoplight.io/mocks/fyayc-training/zalandotest/367393709'
          description: Stoplight Mock Server
        - url: 'https://stoplight.io/mocks/infraspeak/api/13721087'
          description: Infraspeak Mock Server
        - url: 'https://api.infraspeak.com/v3'
          description: Infraspeak Production
    delete:
      tags:
        - Buy Orders
      summary: Delete a Buy Order
      description: This endpoint allows you to delete a specific Buy Order.
      operationId: deleteBuyOrder
      parameters:
        - name: buy-order-id
          in: path
          description: The Buy Order ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
        '400':
          description: 'Bad Request. Occurs when invalid parameters are provided or on data validation errors. For example, trying to create a resource without providing required fields. In this case, you can check the `properties` attribute on the response for more details.'
          content:
            application/json:
              schema:
                type: object
                title: 400 Bad Request
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 400
                      message:
                        type: string
                        example: Property validation error.
                      more_info:
                        type: string
                      properties:
                        type: object
                        description: Only present when related to property validation error
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: 'Bad request error. This error can happen if a wrong id or parameter is supplied in the request, resulting in an error or an empty result.'
                Example with properties:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: Property validation error.
                      dev_message: Property validation error. Check the "properties" section in the response.
                      properties:
                        full_name:
                          - The full_name field is required.
                        email:
                          - The email field is required.
        '401':
          description: 'Unauthorized. Authentication or permission error. E.g.: missing, incorrect or invalid Access Token.'
          content:
            application/json:
              schema:
                type: object
                title: 401 Unauthorized
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 401
                      message:
                        type: string
                        example: Authentication token invalid.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 401
                      message: Authentication token invalid.
        '429':
          description: Too Many Requests. The client has sent too many requests in a given amount of time (check Throttling section).
          content:
            application/json:
              schema:
                type: object
                title: 429 Too Many Requests
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 429
                      message:
                        type: string
                        example: Too Many Requests.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 429
                      message: Too Many Requests.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Indicates how long the user agent should wait (in seconds) before making further requests.
              required: true
            X-RateLimit-Reset:
              schema:
                type: integer
              description: 'Indicates when the rate limit will be reset, in UNIX timestamp format.'
              required: true
        '500':
          description: 'Internal Server Error. Please, report us and try to provide as much information as possible, such as the endpoint, HTTP request headers and request body if applicable.'
          content:
            application/json:
              schema:
                type: object
                title: 500 Internal Server Error
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 500
                      message:
                        type: string
                        example: An error has occurred during the request.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 500
                      message: An error has occurred during the request.
      security:
        - BearerAuth: []
      servers:
        - url: 'https://stoplight.io/mocks/fyayc-training/zalandotest/367393709'
          description: Stoplight Mock Server
        - url: 'https://stoplight.io/mocks/infraspeak/api/13721087'
          description: Infraspeak Mock Server
        - url: 'https://api.infraspeak.com/v3'
          description: Infraspeak Production
  '/sales/buy-orders/{buy-order-id}/lines':
    post:
      tags:
        - Buy Orders
      summary: Create a Buy Order Line
      description: This endpoint allows you to create a Buy Order Line for a specific Buy Order.
      operationId: createBuyOrderLine
      parameters:
        - name: buy-order-id
          in: path
          description: The Buy Order ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Buy Order Line payload
              properties:
                description:
                  type: string
                  nullable: true
                  description: Description of the item of Buy Order Line. Required if buy order type is 'SERVICE'.
                material_id:
                  type: integer
                  nullable: true
                  description: ID of the Material item in the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                price:
                  type: string
                  nullable: true
                  description: ID of the Other Cost in the Buy Order Line.
                quantity:
                  type: string
                  description: Quantity of the item in the Buy Order Line.
                quantity_received:
                  type: string
                  nullable: true
                  description: Received quantity of the item in the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                observation:
                  type: string
                  nullable: true
                  description: Observation or notes of the Buy Order Line.
                vat:
                  type: string
                  description: VAT applied to the item in the Buy Order Line.
                discount:
                  type: string
                  description: Discount applied to the item in the Buy Order Line.
                unit:
                  type: string
                  nullable: true
                  description: Unit of the item in the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    title: Buy Order Line
                    description: Buy Order Line model structure details
                    properties:
                      type:
                        type: string
                        enum:
                          - buy_order_service
                          - buy_order_material
                        description: Model type. Model varies with the type of Buy Order.
                        readOnly: true
                      id:
                        type: string
                        description: ID of the Buy Order Line.
                        readOnly: true
                      attributes:
                        type: object
                        properties:
                          order_service_id:
                            type: integer
                            description: ID of the Buy Order Line. Only present if the type of Buy Order is 'SERVICE'.
                          order_material_id:
                            type: integer
                            description: ID of the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                          order_id:
                            type: integer
                            description: ID of the associated Buy Order.
                          description:
                            type: string
                            nullable: true
                            description: 'Description of the item of Buy Order Line. Required if buy order type is ''SERVICE''. If the type of buy order is ''MATERIAL'', corresponds to the Material name.'
                          material_id:
                            type: integer
                            nullable: true
                            description: ID of the Material item in the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                          price:
                            type: string
                            nullable: true
                            description: ID of the Other Cost in the Buy Order Line.
                          quantity:
                            type: string
                            description: Quantity of the item in the Buy Order Line.
                          quantity_received:
                            type: string
                            nullable: true
                            description: Received quantity of the item in the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                          observation:
                            type: string
                            nullable: true
                            description: Observation or notes of the Buy Order Line.
                          vat:
                            type: string
                            description: VAT applied to the item in the Buy Order Line.
                          discount:
                            type: string
                            description: Discount applied to the item in the Buy Order Line.
                          unit:
                            type: string
                            nullable: true
                            description: Unit of the item in the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                          vat_total:
                            type: number
                            description: Total VAT applied to the Buy Order Line.
                          discount_total:
                            type: number
                            description: Total discount the Buy Order Line.
                          base_total:
                            type: number
                            description: Total base price the Buy Order Line.
                          total:
                            type: number
                            description: Total price the Buy Order Line.
                    required:
                      - type
                      - id
                      - attributes
              examples:
                Example:
                  value:
                    data:
                      type: buy_order_service
                      id: '22'
                      attributes:
                        order_service_id: 620
                        order_id: 2353
                        description: General Maintenance Services
                        price: '1000'
                        quantity: '1'
                        observation: null
                        vat: '23.000'
                        discount: '0.000'
                        vat_total: 230
                        discount_total: 0
                        base_total: 1000
                        total: 1000
        '400':
          description: 'Bad Request. Occurs when invalid parameters are provided or on data validation errors. For example, trying to create a resource without providing required fields. In this case, you can check the `properties` attribute on the response for more details.'
          content:
            application/json:
              schema:
                type: object
                title: 400 Bad Request
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 400
                      message:
                        type: string
                        example: Property validation error.
                      more_info:
                        type: string
                      properties:
                        type: object
                        description: Only present when related to property validation error
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: 'Bad request error. This error can happen if a wrong id or parameter is supplied in the request, resulting in an error or an empty result.'
                Example with properties:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: Property validation error.
                      dev_message: Property validation error. Check the "properties" section in the response.
                      properties:
                        full_name:
                          - The full_name field is required.
                        email:
                          - The email field is required.
        '401':
          description: 'Unauthorized. Authentication or permission error. E.g.: missing, incorrect or invalid Access Token.'
          content:
            application/json:
              schema:
                type: object
                title: 401 Unauthorized
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 401
                      message:
                        type: string
                        example: Authentication token invalid.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 401
                      message: Authentication token invalid.
        '429':
          description: Too Many Requests. The client has sent too many requests in a given amount of time (check Throttling section).
          content:
            application/json:
              schema:
                type: object
                title: 429 Too Many Requests
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 429
                      message:
                        type: string
                        example: Too Many Requests.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 429
                      message: Too Many Requests.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Indicates how long the user agent should wait (in seconds) before making further requests.
              required: true
            X-RateLimit-Reset:
              schema:
                type: integer
              description: 'Indicates when the rate limit will be reset, in UNIX timestamp format.'
              required: true
        '500':
          description: 'Internal Server Error. Please, report us and try to provide as much information as possible, such as the endpoint, HTTP request headers and request body if applicable.'
          content:
            application/json:
              schema:
                type: object
                title: 500 Internal Server Error
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 500
                      message:
                        type: string
                        example: An error has occurred during the request.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 500
                      message: An error has occurred during the request.
      security:
        - BearerAuth: []
      servers:
        - url: 'https://stoplight.io/mocks/fyayc-training/zalandotest/367393709'
          description: Stoplight Mock Server
        - url: 'https://stoplight.io/mocks/infraspeak/api/13721087'
          description: Infraspeak Mock Server
        - url: 'https://api.infraspeak.com/v3'
          description: Infraspeak Production
    get:
      tags:
        - Buy Orders
      summary: List all Buy Order Lines
      description: This endpoint allows you to list all Buy Orders Lines for a specific Buy Order.
      operationId: getBuyOrderLines
      parameters:
        - name: buy-order-id
          in: path
          description: The Buy Order ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Buy Order Line
                      description: Buy Order Line model structure details
                      properties:
                        type:
                          type: string
                          enum:
                            - buy_order_service
                            - buy_order_material
                          description: Model type. Model varies with the type of Buy Order.
                          readOnly: true
                        id:
                          type: string
                          description: ID of the Buy Order Line.
                          readOnly: true
                        attributes:
                          type: object
                          properties:
                            order_service_id:
                              type: integer
                              description: ID of the Buy Order Line. Only present if the type of Buy Order is 'SERVICE'.
                            order_material_id:
                              type: integer
                              description: ID of the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                            order_id:
                              type: integer
                              description: ID of the associated Buy Order.
                            description:
                              type: string
                              nullable: true
                              description: 'Description of the item of Buy Order Line. Required if buy order type is ''SERVICE''. If the type of buy order is ''MATERIAL'', corresponds to the Material name.'
                            material_id:
                              type: integer
                              nullable: true
                              description: ID of the Material item in the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                            price:
                              type: string
                              nullable: true
                              description: ID of the Other Cost in the Buy Order Line.
                            quantity:
                              type: string
                              description: Quantity of the item in the Buy Order Line.
                            quantity_received:
                              type: string
                              nullable: true
                              description: Received quantity of the item in the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                            observation:
                              type: string
                              nullable: true
                              description: Observation or notes of the Buy Order Line.
                            vat:
                              type: string
                              description: VAT applied to the item in the Buy Order Line.
                            discount:
                              type: string
                              description: Discount applied to the item in the Buy Order Line.
                            unit:
                              type: string
                              nullable: true
                              description: Unit of the item in the Buy Order Line. Only present if the type of Buy Order is 'MATERIAL'.
                            vat_total:
                              type: number
                              description: Total VAT applied to the Buy Order Line.
                            discount_total:
                              type: number
                              description: Total discount the Buy Order Line.
                            base_total:
                              type: number
                              description: Total base price the Buy Order Line.
                            total:
                              type: number
                              description: Total price the Buy Order Line.
                      required:
                        - type
                        - id
                        - attributes
                  included:
                    type: array
                    description: List of relationships to be included
                    uniqueItems: true
                  meta:
                    type: object
                    title: Meta
                    description: Meta model structure details
                    properties:
                      pagination:
                        type: object
                        properties:
                          count:
                            type: integer
                            description: Total items returned for the current page.
                            minimum: 0
                          per_page:
                            type: integer
                            description: Maximum number of records per page.
                            minimum: 1
                            default: 200
                          current_page:
                            type: integer
                            description: Number of the current page.
                            minimum: 1
                            default: 1
                        required:
                          - count
                          - per_page
                          - current_page
                  links:
                    type: object
                    title: Response Links on listing operations
                    description: 'Requests that return multiple items include a `links` attribute, with links related to request''s context.'
                    properties:
                      self:
                        type: string
                        description: Current response link.
                        format: uri
                        readOnly: true
                      first:
                        type: string
                        description: Link to the first page result.
                        format: uri
                        readOnly: true
                      prev:
                        type: string
                        description: Link to the previous page result.
                        format: uri
                        readOnly: true
                      next:
                        type: string
                        description: Link to the next page result.
                        format: uri
                        readOnly: true
                    required:
                      - self
                      - first
                      - next
              examples:
                Example:
                  value:
                    data:
                      - type: buy_order_service
                        id: '22'
                        attributes:
                          order_service_id: 620
                          order_id: 2353
                          description: General Maintenance Services
                          price: '1000'
                          quantity: '1'
                          observation: null
                          vat: '23.000'
                          discount: '0.000'
                          vat_total: 230
                          discount_total: 0
                          base_total: 1000
                          total: 1000
        '400':
          description: 'Bad Request. Occurs when invalid parameters are provided or on data validation errors. For example, trying to create a resource without providing required fields. In this case, you can check the `properties` attribute on the response for more details.'
          content:
            application/json:
              schema:
                type: object
                title: 400 Bad Request
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 400
                      message:
                        type: string
                        example: Property validation error.
                      more_info:
                        type: string
                      properties:
                        type: object
                        description: Only present when related to property validation error
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: 'Bad request error. This error can happen if a wrong id or parameter is supplied in the request, resulting in an error or an empty result.'
                Example with properties:
                  value:
                    status: error
                    error:
                      http_code: 400
                      message: Property validation error.
                      dev_message: Property validation error. Check the "properties" section in the response.
                      properties:
                        full_name:
                          - The full_name field is required.
                        email:
                          - The email field is required.
        '401':
          description: 'Unauthorized. Authentication or permission error. E.g.: missing, incorrect or invalid Access Token.'
          content:
            application/json:
              schema:
                type: object
                title: 401 Unauthorized
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  error:
                    type: object
                    properties:
                      http_code:
                        type: integer
                        enum:
                          - 401
                      message:
                        type: string
                        example: Authentication token invalid.
                      more_info:
                        type: string
              examples:
                Example:
                  value:
                    status: error
                    error:
                      http_code: 401
                      message: Authentication token invalid.
        '404':
          description: Resource Not Found. Requests to resources that don't exist or are malformed.
          content:
            application/json:
              schema:
                type: object
                title: 404 Not Found
                properties:
[...]
